* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  background-color: #e0e9ff;
  background-image: url("/images/pattern-background-desktop.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.order {
  width: 450px;
  height: 697px;
  border-radius: 20px;
  font-family: "Red Hat Display", sans-serif;
  font-size: 16px;
  font-weight: 500;
  background-color: white;
  -webkit-box-shadow: 0px 29px 30px -10px #c5cef7;
          box-shadow: 0px 29px 30px -10px #c5cef7;
}

@media screen and (max-width: 480px) {
  .order {
    width: 327px;
    height: 567px;
  }
}

.order__img {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.order__body {
  text-align: center;
  padding: 0 47px;
}

@media screen and (max-width: 480px) {
  .order__body {
    padding: 0 24px;
  }
}

.order__title {
  color: #14203d;
  font-weight: 900;
  font-size: 1.8em;
  margin: 1.4em 0 0.55em 0;
}

@media screen and (max-width: 480px) {
  .order__title {
    font-size: 1.4em;
    margin: 1.2em 0 0.7em 0;
  }
}

.order__text {
  color: #7280a7;
  margin: 0.5em 0;
  line-height: 1.6em;
}

@media screen and (max-width: 480px) {
  .order__text {
    font-size: 0.95em;
    line-height: 1.6em;
    padding: 0 0.5em;
  }
}

.order__plan {
  height: 100px;
  margin: 20px 0 32px 0;
  background-color: #f6f7fe;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 480px) {
  .order__plan {
    height: 80px;
    margin: 25px 0;
  }
}

.order__plan-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.order__plan-tariff {
  margin: 0;
}

@media screen and (max-width: 480px) {
  .order__plan-tariff {
    margin: 5px;
  }
}

.order__plan-img {
  margin: 22px;
}

@media screen and (max-width: 480px) {
  .order__plan-img {
    margin: 15px;
  }
}

.order__plan-change-btn {
  border: none;
  font-size: 0.8em;
  margin: 25px;
  font-weight: 900;
  background-color: #f6f7fe;
  color: #4e47b3;
  text-decoration: underline;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .order__plan-change-btn {
    font-size: 0.75em;
    margin: 15px;
  }
}

.order__plan-change-btn:hover {
  color: #756af1;
}

.order__plan-title {
  font-weight: 900;
  color: #14203d;
  font-size: 1.03em;
  margin-bottom: 0.4em;
}

@media screen and (max-width: 480px) {
  .order__plan-title {
    font-size: 0.9em;
    margin-bottom: 0.1em;
  }
}

.order__plan-price {
  color: #7280a7;
  font-size: 1em;
}

@media screen and (max-width: 480px) {
  .order__plan-price {
    font-size: 0.9em;
  }
}

.order__pay-btn {
  display: block;
  margin: 20px 0 30px 0;
  width: 100%;
  height: 50px;
  border: none;
  font-weight: 700;
  border-radius: 10px;
  letter-spacing: 0.05em;
  font-size: 0.85em;
  background-color: #3829e0;
  color: white;
  cursor: pointer;
  -webkit-box-shadow: 0px 29px 30px -10px #d4d1ff;
          box-shadow: 0px 29px 30px -10px #d4d1ff;
}

@media screen and (max-width: 480px) {
  .order__pay-btn {
    margin: 20px 0 25px 0;
  }
}

.order__pay-btn:hover {
  background-color: #756af1;
}

.order__cancel-btn {
  font-size: 0.85em;
  font-weight: 900;
  background: transparent;
  color: #7280a7;
  border: none;
  cursor: pointer;
}

.order__cancel-btn:hover {
  color: #14203d;
}
